[submodule "lib/jsdom"]
	path = lib/jsdom
	url = http://github.com/tmpvar/jsdom.git
[submodule "lib/connect"]
	path = lib/connect
	url = http://github.com/senchalabs/connect.git
[submodule "public/extjs"]
	path = public/extjs
	url = git://github.com/probonogeek/extjs.git
[submodule "lib/redis-node-client"]
	path = lib/redis-node-client
	url = http://github.com/fictorial/redis-node-client.git
[submodule "lib/JSLINQ"]
	path = lib/JSLINQ
	url = http://github.com/Marak/JSLINQ.git
[submodule "node-htmlparser"]
	path = lib/node-htmlparser
	url = http://github.com/tautologistics/node-htmlparser.git
