[submodule "deps/jsdom"]
	path = deps/jsdom
	url = http://github.com/tmpvar/jsdom.git
[submodule "deps/connect"]
	path = deps/connect
	url = http://github.com/senchalabs/connect.git
[submodule "deps/redis-node-client"]
	path = deps/redis-node-client
	url = http://github.com/fictorial/redis-node-client.git
[submodule "deps/node-htmlparser"]
	path = deps/node-htmlparser
	url = http://github.com/tautologistics/node-htmlparser.git
