td.area{
    width:50px;
}
td.location{
    width:150px;
}
td.court{
    width:100px;
}
td.casenumbers{
    width:150px;
}
td.names{
    width:150px;
}
td.statuses{
    width:200px;    
}
td.updated{
    width:200px;
}